@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
@layer base {
    body {
      font-family: "Poppins", sans-serif;
    }
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
.animate-bounce-slow {
  animation: float 3s ease-in-out infinite;
}

/* Bikin scrollbar horizontal jadi keren */
.overflow-x-auto::-webkit-scrollbar {
  height: 8px; /* Bikin scrollbar-nya tipis */
}

/* Ini 'rel' atau 'track' scrollbar-nya */
.overflow-x-auto::-webkit-scrollbar-track {
  background: #27272a; /* Warna zinc-800 */
  border-radius: 10px;
}

/* Ini 'jempol' scrollbar-nya (yang digeser) */
.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #6d28d9; /* Warna violet-700 */
  border-radius: 10px;
}

/* Pas di-hover, ganti warna */
.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background: #5b21b6; /* Warna violet-800 */
}